body{
    margin:0;
    font-family: 'Raleway' , sans-serif;
}

/* ******************************************************* HEADER******************************************************************************* */

header{
    width: 98%;
    max-width: 1440px;
    margin: auto;
}

.navbar{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr; 
    grid-template-areas: 
        "logo . hebergement activites inscription";
}

#logo{
    padding: 0;
}   

.navbar .lien-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.navbar #lien-navbar-hebergement:hover{
    border-top: 3px solid #0065fc;
    padding-top: 8px;
    background: #ffff;
}


.navbar #lien-navbar-activites:hover{
    border-top: 3px solid #0065fc;
    padding-top: 8px;
    background: #ffff;
}

.navbar #lien-navbar-inscription:hover{
    border-top: 3px solid #0065fc;
    padding-top: 10px;
    background: #ffff;
}

#lien-navbar-inscription a{
    color: #0065fc;
}

.navbar a{
    color: black;
    text-decoration: none;
    padding: 25px;
}

.navbar a:visited{
    color: #0065fc;
}

.navbar img{
    grid-area: logo;
}

.navbar #lien-navbar-hebergement{
    grid-area: hebergement;
}

#navbar-lien-hebergement a{
    color: #0065fc;
}

.navbar #lien-navbar-activites{
    grid-area: activites;
    color: black;    
}

.navbar #lien-navbar-activites a{
    color: black;
}

.navbar #lien-navbar-activites a:hover{
    color: #0065fc;
}

.navbar #lien-navbar-inscription{
    grid-area: inscription;
    color: #0065fc;
    font-weight: 600;
}


/**********************************************Slogan**********************************/

main{
    width: 98%;
    max-width: 1440px;
    margin: auto;
}

.titre{
    font-size: 32px;
    margin: 10px 0;
}

.precision{
    margin: 6px 0;
}

/********************* Section recherche : Formulaire de recherche*****************/


.formulaire_recherche{
    display: inline-flex;
    flex-direction: row;
}

.bloc_recherche{
    margin-top: 35px;
    margin-bottom: 55px;
}

.icone{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 56px; 
    height: 51.5px;
    background-color: #f2f2f2;
    border-radius: 14px 0 0 14px;
    margin-right: -5px;
}

.fa-map-marker-alt{
    font-size: 17px;
    align-items: center;
    justify-content: center;
}

.formulaire_recherche input{
    padding: 0 0 0 20px;
    height: 50px;
    width: 220px;
    border: 2px solid #f2f2f2;
    font-weight: 600;
    font-size: 16px;
}

::placeholder{
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.bouton_recherche{
    border: none;
    border-radius: 0 14px 14px 0;
    background-color: #0065fc;
    color: #ffff;
    font-weight: 700;
    font-size: 16px;
    padding: 17px;
    height: 51.5px;
    cursor: pointer;
    margin-left: -5px;
}

.bouton_recherche:hover{
    color: #0065fc;
    background-color: #ffff;
    border:1px solid #0065fc;
    transition: ease 0.5s;
}

#bouton_loupe{
    display: none;
}


/*******************************************Section recherche : Filtres ********************************************/


.filtres h3{
    font-size: 24px;
    display: inline;
}

.filtres ul{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.filtres ul li{
    display: inline;
    margin-left: 25px;
    font-weight: 700;
    border: 1px solid #d9d9d9;
    padding: 0 20px 0 0;
    margin-top: 10px;
    border-radius: 200px;
}

.filtres ul li:hover{
    cursor: pointer;
    background:#ebf3ff;
    transition: ease 0.25s;
    border: 1px solid #0065fc;
    border-radius: 200px;
}

.filtres ul li:hover .icone-filtre{
    background: #ffff;
    transition: ease 0.25s;
    border-radius: 200px;
    border: 1px solid #d9d9d9;
}

.icone-filtre{
    background-color: #ebf3ff;
    color: #0065fc;
    padding: 18px;
    border-radius: 200px;
    margin-right: 15px;
}

/**********************************Section recheche: Information ************/

.info i{
    color: #0065fc;
    font-size: 16px;
    padding: 7px 11px 7px 11px;
    border: 1px solid #d9d9d9;
    border-radius: 2000px;
    margin-right: 20px;
}

.info p{
    display: inline;
}

/******************************************Section Hebergements ************************/

#hebergements{
    display: grid;
    grid-template-columns: 1.9fr 1fr;
    column-gap: 30px;
    margin: 40px 0 60px 0;
}

#hebergements a{
    text-decoration: none;
    color: black;
}

.bloc_hebergement , .bloc_populaire{
    background: #f2f2f2;
    border-radius: 25px;
}

.bloc_hebergement{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    align-items: center;
    padding: 0 20px;
}

.bloc_hebergement h2 , .afficher_plus{
    display: block;
    width: 100%;
    margin-left: 40px;
}

.bloc_populaire{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hotels{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 27px;
    padding: 0;
}

.hotel{
    background: #ffff;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: left; 
    align-items: start; 
    border-radius: 20px;
    border: 5px solid transparent;
    box-shadow: 0 6px 6px 0 #d9d9d9;
}

.hotel:hover{
    cursor: pointer;
    transform: scale(1.08);
    transition: ease 0.5s;
}

.hotel > .hotel-img{
    width: 250px;
    height: 100px;
    background-size: 100% 100%;
    border-radius: 20px 20px 0 0;
}

.hotel img{
    width: 100%;
    height: 100px;
    background-size: 100% 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover; /**** image adaptée ***/
}

.hotel .texte-hotel{
    margin: 5px;
}

.notation{
    display: flex;
    flex-direction: row;
}

.hotel .texte-hotel .nom-hotel{
    margin: 0;
}

.hotel .texte-hotel .prix-hotel{
    margin: 3px 0 3px 0;
}

.afficher_plus{
    margin-top: 75px;
}

.afficher_plus a:hover{
    cursor: pointer;
    font-weight: bold;
}

.plus-populaires{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 1fr;
    grid-row-gap: 25px;
    height: 90%;
    width: 90%;
}

.plus-populaires .titre-icone{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
}

.plus-populaires .titre-icone h2{
    margin: 0;
}

.plus-populaires i{
    font-size: 26px;
}

.populaire{
    background-color: #ffff;
}

.populaire:hover{
    cursor: pointer;
    transform: scale(1.08);
    transition: ease 0.5s;
}

.populaire-img{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}

.populaire-img img{
    width: 100%;
    height: 100%;
    max-height: 110px;
    min-width: 170px;
    border-radius: 20px 0 0 15px;
    object-fit: cover;
}

.populaire .texte-hotel{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.populaire .texte-hotel .nom-hotel{
    padding: 4px 0;
    margin: 0;
}

.prix-hotel{
    margin-top: 0;
    margin-bottom: 0;
}



.populaire#hotel7{
    display: flex;
    margin: 0;
    background-color: #ffff;
    border-radius: 20px;
    padding: 7px 0 7px 7px;
    box-shadow: 0 6px 6px 0 #d9d9d9;
}

.populaire#hotel8{
    display: flex;
    margin: 0;
    background-color: #ffff;
    border-radius: 20px;
    padding: 7px 0 7px 7px;
    box-shadow: 0 6px 6px 0 #d9d9d9;
}

.populaire#hotel9{
    display: flex;
    margin: 0;
    background-color: #ffff;
    border-radius: 20px;
    padding: 7px 0 7px 7px;
    box-shadow: 0 6px 6px 0 #d9d9d9;
}

.notation i{
    font-size: 15px;
}

.prix{
    font-weight: bold;
}

.blue_star{
    color: #0065fc
}

.grey_star{
    color: #d9d9d9;
}


/*****************************************Section : Activités****************************/

.bloc_activites{
    height: 550px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    grid-template-rows: 3fr 0.3fr 0.3fr 0.3fr 0.3fr 3fr;
    grid-gap: 30px;
    grid-template-areas: 
        "Act1 Act2 Act4 Act5"
        "Act1 Act2 Act4 Act5"
        "Act1 Act2 Act4 Act6"
        "Act1 Act2 Act4 Act6"
        "Act1 Act3 Act4 Act6"
        "Act1 Act3 Act4 Act6"
    }

    .bloc_activites a{
        color: black;
        text-decoration: none;
    }

    .bloc_activites .activite{
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        box-shadow: 0 6px 6px 0 #d9d9d9;
    }

    .activite img{
        object-fit: cover;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .bloc_activites .nom-activite{
        position: absolute;
        width: 95%;
        background-color: #ffff;
        border-radius: 0 0 20px 20px;
        padding: 20px 0 20px 5%;
        margin: 0;
        bottom: 0;
    }

    .contour{
        height: 100%;
        margin: 0;
    }

    #Act1{
        grid-area: Act1;
    }

    #Act2{
        grid-area: Act2;
    }

    #Act3{
        grid-area: Act3;
    }

    #Act4{
        grid-area: Act4;
    }

    #Act5{
        grid-area: Act5;
    }

    #Act6{
        grid-area: Act6;
    }

    .bloc_activites .activite:hover{
        cursor: pointer;
        transform: scale(1.08);
        transition: ease 0.5s;
    }


    /****************************Section : Footer*******************/


.footer{
    width: 100%;
    background:#f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocs_footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;    
}

.section{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#section2{
    margin-left: -50px;
    margin-right: 0px;
}

#section3{
    margin-right: 350px;
}

.section > *{
    margin-bottom: 10px;
}

.titre{
    font-size: 18px;
    margin-bottom: 15px;
}

.lien:hover{
    cursor: pointer;
    font-weight: bold;
    color: #0065fc;
}

.blocs_footer a{
    text-decoration: none;
    color: black;
}

/*****************************Media Queries ****************/
@media screen and (max-width: 1440px){

    body{
        max-width: 1440px;
        min-width: 1200px;
        margin: auto;
    }

    .hebergements{
        max-width: 1430px;
        min-width: 1200px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
        row-gap: 30px;
        grid-template-areas: 
            "bloc_populaire"
            "bloc_hebergement";
    }

    .hebergements .bloc_hebergement{
        grid-area: bloc_hebergement;
    }

    .hebergements .bloc_populaire{
        grid-area: bloc_populaire;
    }

    .hotels{
        width: 100%;
    }

    .hotel > .hotel-img{
        width: 100%;
        height: 100px;
        background-size: cover;
    }

    .plus-populaires{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 3fr;
        column-gap: 25px;
        height: 200px;
    }
    .plus-populaires .titre-icone{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;
        grid-area: 1 / 1 / 2 / -1;
    }

    .plus-populaires .titre-icone h2{
        margin: 0;
    }

    .plus-populaires a{
        display: grid;
    }

    .populaire{
        height: auto;
    }

    .populaire-img{
        margin: 0;
        width: 50%;
        height: 100%;
        background-size: cover;
        border-radius: 20px 0 0 15px;
    }

    .populaire-img img{
        min-width: 80px;
    }

    .populaire .texte-hotel{
        margin-left: 35px;
    }

    .bloc_activites{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "Act1 Act2 Act3"
            "Act4 Act5 Act6";
        margin-bottom: 100px;
    }

    .activite{
        max-height: 270px;
        min-height: 270px;
    }

    #Act1{
        grid-area: Act1;
    }

    #Act2{
        grid-area: Act2;
    }

    #Act3{
        grid-area: Act3;
    }

    #Act4{
        grid-area: Act4;
    }

    #Act5{
        grid-area: Act5;
    }

    #Act6{
        grid-area: Act6;
    }

}


@media screen and (max-width: 1200px){

    body{
        max-width: 1200px;
        min-width: 800px;
    }

    .populaire .texte-hotel{
        margin-left: 35px;
    }
}

@media screen and (max-width: 900px){

    .hotels{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .bloc_populaire{
        display: flex;
        justify-content: center;
        align-items: stretch;
        height: 560px;
        max-width: 900px;
        min-width: 700px;
    }
    
    .bloc_populaire .plus-populaires{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding-top: 25px;
    }

    .bloc_populaire .plus-populaires .populaire{
        height: 120px;
    }


    .bloc_activites{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-bottom: 370px;
        grid-template-areas:
            "Act1 Act2"
            "Act4 Act3"
            "Act5 Act6";
    }

}

@media screen and (max-width: 780px){
    body{
        max-width: 780px;
        min-width: 600px;
    }
    
    header{
        max-width:600px;
        min-width: 600px;
    }

    .titre , .precision{
        text-align: center;
    }

    .formulaire_recherche{
        max-width: 780px;
        min-width: 600px;
    }


    .icone{
        margin-left: 20px;
    }

    .filtres{
        max-width: 720px;
        min-width: 600px;
    }

    .hebergements{
        max-width: 720px;
        min-width: 600px;
    }

    .bloc_hebergement{
        max-width: 720px;
        min-width: 600px;
    }

    .bloc_populaire{
        max-width: 720px;
        min-width: 600px;
    }

    .bloc_activites{
        max-width: 720px;
        min-width: 600px;
    }

    .footer{
        max-width: 720px;
        min-width: 600px;
    }

    .blocs_footer #section2{
        margin-left: 45px;
    }

    .blocs_footer #section3{
        margin-left: 45px;
    }

}

@media screen and (max-width: 600px) {
    body{
      max-width: 600px;
      min-width: 480px;
    }
        
    .navbar{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "logo inscription"
            "hebergement activites";
    }

    .navbar img{
        grid-area: logo;
    }

    .navbar #lien-navbar-inscription{
        display: flex;
        justify-content: flex-end;
        grid-area: inscription;
    }

    .navbar #lien-navbar-hebergement{
        flex-direction: column-reverse;
        grid-area: hebergement;
    }
    
    #lien-navbar-hebergement a{
        color:#0065fc;
    }

    .navbar #lien-navbar-activites{
        flex-direction: column-reverse;
        grid-area: activites;
    }

    .formulaire_recherche{
        max-width: 580px;
        min-width: 480px;
    }

    .barre_recherche{
        width: 25px;
    }

    .fa-map-marker-alt{
        font-size: 12px;
        padding: 10px;
    }

    #bouton_recherche{
        display: none;
    }

    .icone{
        margin-right: -5px;
        height: 51px;
    }

    #bouton_loupe{
        display: inline;
        font-size: 15px;
        background-color: #0065fc;
        color: #ffff;
        padding: 12px;
        border-radius: 10px;
        border: 1px solid #0065fc;
        height: auto;
        margin-top: 22px;
        margin-left: -10px;
        height: 52px;
        width: 50px;
    }

    .hebergements{
        display: grid;
        grid-template-rows: 1fr auto;
    }
    .hotels{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .hotels .texte-hotel{
        font-size: 14px;
    }

    .afficher_plus{
        margin-top: 35px;
        font-weight: bold;
    }

    .populaire-img img{
        min-width: 95px;
    }

    .populaire .texte-hotel{
        font-size: 14px;
        margin-left: 35px;
    }

    #activites{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,1fr);
        grid-template-areas:
            "Act6"
            "Act5"
            "Act4"
            "Act3"
            "Act2"
            "Act1";
        height: 1500px;
        margin-bottom: 250px;
    }

    .blocs_footer{
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }

    .blocs_footer #section1, #section2{
        margin-right:220px;
    }

    .blocs_footer #section3{
        margin-left: 25px;
    }

    .blocs_footer .section{
        padding: 15px 15px;
    }
}

@media screen and (max-width: 480px){
    body{
        min-width: 380px;
        max-width: 380px;
    }

    header{
        max-width: 360px;
        min-width: 360px;
        border-bottom: 2px solid #d9d9d9;
    }

    .navbar #lien-navbar-hebergement:hover{
        border-top: 0px solid transparent;
        border-bottom: 3px solid #0065fc;
        padding-bottom: 40px;
        background: #ffff;
    }
    
    
    .navbar #lien-navbar-activites:hover{
        border-top: 0px solid transparent;
        border-bottom: 3px solid #0065fc;
        padding-bottom: 40px;
        background: #ffff;
    }

    .formulaire_recherche{
        max-width: 360px;
        min-width: 360px;
    }

    .bloc_recherche{
        max-width: 360px;
        min-width: 360px;
    }

    .icone{
        margin-left: 15px;
    }

    .filtres{
        max-width: 360px;
        min-width: 360px;
    }

    .info{
        max-width: 360px;
        min-width: 360px;
    }

    .info i{
        margin-right: 5px;
    }
    

    .titre{
         margin-top: 25px;
     }


    .filtres ul li{
        padding: 0 12px 0 0;
        margin-left: 5px;
    }
    
    .hebergements{
        max-width: 360px;
        min-width: 360px;
    }

    .bloc_hebergement{
        background: #ffff;
        margin-left: -12px;
        padding-right: 24px;
        max-width:360px;
        min-width: 360px;
    }

    .bloc_hebergement h2{
        margin-left: 120px;
    }

    .hotels{
        margin-left: 120px;
    }

    .hotel{
        width: 320px;
    }

    .afficher_plus{
        margin-left: 120px;
    }

    .bloc_populaire{
        margin-left: -12px;
        padding-right: 24px;
        max-width: 360px;
        min-width: 360px;
        height: 580px;
        border-radius: 0;
    } 
    
    .bloc_activites{
        margin-left: 0;
        padding-right: 24px;
        max-width: 360px;
        min-width: 360px;
    }

    .activite{
        max-height: 250px;
        min-height: 250px;
        max-width: 350px;
        margin-bottom: -5px;
    }

    .footer{
        height: auto;
        max-width: 360px;
        min-width: 360px;
        margin-top: -5px;
    }

    .blocs_footer #section2{
        margin-left: 1px;
        
    }


    .blocs_footer #section3{
        margin-left: 90px;
        
    }

    .blocs_footer .section{
        padding: 15px 15px;
    }
}


    


   
    

    
