body{
    margin:0;
    font-family: 'Raleway' , sans-serif;
}

/* ******************************************************* HEADER******************************************************************************* */

header{
    width: 98%;
    max-width: 1440px;
    margin: auto;
}

.navbar{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr; 
    grid-template-areas: 
        "logo . hebergement activites inscription";
}

#logo{
    padding: 0;
}   

.navbar .lien-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.navbar #lien-navbar-hebergement:hover{
    border-top: 3px solid #0065fc;
    padding-top: 8px;
    background: #ffff;
}


.navbar #lien-navbar-activites:hover{
    border-top: 3px solid #0065fc;
    padding-top: 8px;
    background: #ffff;
}

.navbar #lien-navbar-inscription:hover{
    border-top: 3px solid #0065fc;
    padding-top: 10px;
    background: #ffff;
}

#lien-navbar-inscription a{
    color: #0065fc;
}

.navbar a{
    color: black;
    text-decoration: none;
    padding: 25px;
}

.navbar a:visited{
    color: #0065fc;
}

.navbar img{
    grid-area: logo;
}

.navbar #lien-navbar-hebergement{
    grid-area: hebergement;
}

#navbar-lien-hebergement a{
    color: #0065fc;
}

.navbar #lien-navbar-activites{
    grid-area: activites;
    color: black;    
}

.navbar #lien-navbar-activites a{
    color: black;
}

.navbar #lien-navbar-activites a:hover{
    color: #0065fc;
}

.navbar #lien-navbar-inscription{
    grid-area: inscription;
    color: #0065fc;
    font-weight: 600;
}


/**********************************************Slogan**********************************/

main{
    width: 98%;
    max-width: 1440px;
    margin: auto;
}

.titre{
    font-size: 32px;
    margin: 10px 0;
}

.precision{
    margin: 6px 0;
}

/********************* Section recherche : Formulaire de recherche*****************/


.formulaire_recherche{
    display: inline-flex;
    flex-direction: row;
}

.bloc_recherche{
    boder: 1px solid #d9d9d9;
    margin-top: 35px;
    margin-bottom: 55px;
}

.icone{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 56px; 
    height: 55px;
    background-color: #f2f2f2;
    border-radius: 14px 0 0 14px;
}

.fa-map-marker-alt{
    font-size: 17px;
    align-items: center;
    justify-content: center;
}

.fomulaire_recherche input{
    padding: 0 0 0 20px;
    height: 50px;
    width: 220px;
    border: 2px solid #f2f2f2;
    font-weight: 600;
    font-size: 16px;
}

::placeholder{
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.bouton_recherche{
    border: none;
    border-radius: 0 14px 14px 0;
    background-color: #0065fc;
    color: #ffff;
    font-weight: 700;
    font-size: 16px;
    padding: 17px;
    cursor: pointer;
}

.bouton_recherche:hover{
    color: #0065fc;
    background-color: #ffff;
    border:1px solid #0065fc;
    transition: ease 0.5s;
}

#bouton_loupe{
    display: none;
}


/*******************************************Section recherche : Filtres ********************************************/


.filtres h3{
    font-size: 24px;
    display: inline;
}

.filtres ul{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.filtres ul li{
    display: inline;
    margin-left: 25px;
    font-weight: 700;
    border: 1px solid #d9d9d9;
    padding: 0 20px 0 0;
    margin-top: 10px;
    border-radius: 200px;
}

.filtres ul li:hover{
    cursor: pointer;
    background:#ebf3ff;
    transition: ease 0.25s;
    border: 1px solid #0065fc;
    border-radius: 200px;
}

.filtres ul li:hover .icone-filtre{
    background: #ffff;
    transition: ease 0.25s;
    border-radius: 200px
    border: 1px solid #d9d9d9;
}

.icone-filtre{
    background-color: #ebf3ff;
    color: #0065fc;
    padding: 18px;
    border-radius: 200px;
    margin-right: 15px;
}

/**********************************Section recheche: Information ************/

.info i{
    color: #0065fc;
    font-size: 16px;
    padding: 7px 11px 7px 11px;
    border: 1px solid #d9d9d9;
    border-radius: 2000px;
    margin-right: 20px;
}

.info p{
    display: inline;
}

/******************************************Section Hebergements ************************/

#hebergements{
    display: grid;
    grid-template-columns: 1.9fr 1fr;
    column-gap: 30px;
    margin: 40px 0 60px 0;
}

#hebergements a{
    text-decoration: none;
    color: black;
}

.bloc_hebergement , .bloc_populaire{
    background: #f2f2f2;
    border-radius: 25px;
}

.bloc_hebergement{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.bloc_hebergement h2 , .afficher_plus{
    display: block;
    width: 100%;
    margin-left: 40px;
}

.bloc_populaire{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hotels{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 27px;
    padding: 0;
}

.hotel{
    background: #ffff;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: left; 
    align-items: start; 
    border-radius: 20px;
    border: 5px solid transparent;
    box-shadow: 0 6px 6px 0 #d9d9d9;
}

.hotel:hover{
    cursor: pointer;
    transform: scale(1.08);
    transition: ease 0.5s;
}

.hotel > .hotel-img{
    width: 250px;
    height: 100px;
    background-size: 100% 100%;
    border-radius: 20px 20px 0 0;
}

.hotel img{
    width: 100%;
    height: 100px;
    background-size: 100% 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover; /**** image adaptée ***/
}

.hotel .texte-hotel{
    margin: 5px;
}

.notation{
    display: flex;
    flex-direction: row;
}

.hotel .texte-hotel .nom-hotel{
    margin: 0;
}

.hotel .texte-hotel .prix-hotel{
    margin: 3px 0 3px 0;
}

.afficher_plus a:hover{
    cursor: pointer;
    font-weight: bold;
}

.plus-populaires{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 1fr;
    grid-row-gap: 25px;
    height: 90%;
    width: 90%;
}

.plus-populaires .titre-icone{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
}

.plus-populaires .titre-icone h2{
    margin: 0;
}

.plus-populaires i{
    font-size: 26px;
}

.populaire{
    background-color: #ffff;
}

.populaire:hover{
    cursor: pointer;
    transform: scale(1.08);
    transition: ease 0.5s;
}

.populaire-img{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}

.populaire-img img{
    width: 100%;
    height: 100%;
    max-height: 110px;
    min-width: 170px;
    border-radius: 20px 0 0 15px;
    object-fit: cover;
}

.populaire .texte-hotel{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.populaire .texte-hotel .nom-hotel{
    padding: 4px 0;
    margin: 0;
}

.prix-hotel{
    margin-top: 0;
    margin-bottom: 0;
}



.populaire#hotel7{
    display: flex;
    margin: 0;
    background-color: #ffff;
    border-radius: 20px;
    padding: 7px 0 7px 7px;
    box-shadow: 0 6px 6px 0 #d9d9d9;
}

.populaire#hotel8{
    display: flex;
    margin: 0;
    background-color: #ffff;
    border-radius: 20px;
    padding: 7px 0 7px 7px;
    box-shadow: 0 6px 6px 0 #d9d9d9;
}

.populaire#hotel9{
    display: flex;
    margin: 0;
    background-color: #ffff;
    border-radius: 20px;
    padding: 7px 0 7px 7px;
    box-shadow: 0 6px 6px 0 #d9d9d9;
}

.notation i{
    font-size: 15px;
}

.prix{
    font-weight: bold;
}

.blue_star{
    color: #0065fc
}

.grey_star{
    color: #d9d9d9;
}


/*****************************************Section : Activités****************************/

.bloc_activites{
    height: 550px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    grid-template-rows: 3fr 0.3fr 0.3fr 0.3fr 0.3fr 3fr;
    grid-gap: 30px;
    grid-template-areas: 
        "Act1 Act2 Act4 Act5"
        "Act1 Act2 Act4 Act5"
        "Act1 Act2 Act4 Act6"
        "Act1 Act2 Act4 Act6"
        "Act1 Act3 Act4 Act6"
        "Act1 Act3 Act4 Act6"
    }

    .bloc_activites a{
        color: black;
        text-decoration: none;
    }

    .bloc_activites .activite{
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        box-shadow: 0 6px 6px 0 #d9d9d9;
    }

    .activite img{
        object-fit: cover;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .bloc_activites .nom-activite{
        position: absolute;
        width: 95%;
        background-color: #ffff;
        border-radius: 0 0 20px 20px;
        padding: 20px 0 20px 5%;
        margin: 0;
        bottom: 0;
    }

    .contour{
        height: 100%;
        margin: 0;
    }

    #Act1{
        grid-area: Act1;
    }

    #Act2{
        grid-area: Act2;
    }

    #Act3{
        grid-area: Act3;
    }

    #Act4{
        grid-area: Act4;
    }

    #Act5{
        grid-area: Act5;
    }

    #Act6{
        grid-area: Act6;
    }

    .bloc_activites .activite:hover{
        cursor: pointer;
        transform: scale(1.08);
        transition: ease 0.5s;
    }


    /****************************Section : Footer*******************/


.footer{
    width: 100%;
    background:#f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocs_footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;    
}

.section{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#section2{
    margin-left: -50px;
    margin-right: 0px;
}

#section3{
    margin-right: 350px;
}

.section > *{
    margin-bottom: 10px;
}

.titre{
    font-size: 18px;
    margin-bottom: 15px;
}

.lien:hover{
    cursor: pointer;
    font-weight: bold;
    color: #0065fc;
}

.blocs_footer a{
    text-decoration: none;
    color: black;
}

    
   
    

    
